denon_flows.json
[
    {
        "id": "2e94cc1cb33378be",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Anschalten",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWON",
        "x": 685.7143173217773,
        "y": 980.0000267028809,
        "wires": []
    },
    {
        "id": "64f52a7342843f74",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Eingang auf Game",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SIGAME",
        "x": 1065.7143173217773,
        "y": 1020.0000267028809,
        "wires": []
    },
    {
        "id": "1fcdc74f81b3d415",
        "type": "vsh-virtual-device",
        "z": "1c94b1404684df75",
        "name": "Denon",
        "topic": "Denon",
        "metadata": "",
        "connection": "8942056a60da26d4",
        "template": "ENTERTAINMENT_DEVICE",
        "retrievable": false,
        "passthrough": false,
        "diff": false,
        "filter": false,
        "filterTopic": false,
        "plan": "free",
        "x": 345.71431732177734,
        "y": 1140.0000267028809,
        "wires": [
            [
                "0dee63c051e2742d"
            ]
        ]
    },
    {
        "id": "bd75ded9f9ced507",
        "type": "switch",
        "z": "1c94b1404684df75",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GAME",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TV",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PC",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "BLUETOOTH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 885.7143173217773,
        "y": 1140.0000267028809,
        "wires": [
            [
                "64f52a7342843f74"
            ],
            [
                "51f329b5d0b69d68"
            ],
            [
                "0cb6697ccc1ccd55"
            ],
            [
                "a86cb1320da57277",
                "8e9a6b8b7aaf40af"
            ]
        ]
    },
    {
        "id": "51f329b5d0b69d68",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Eingang auf TV",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SITV",
        "x": 1055.7143173217773,
        "y": 1080.0000267028809,
        "wires": []
    },
    {
        "id": "fe912588d6b58ddf",
        "type": "change",
        "z": "1c94b1404684df75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.input",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 705.7143173217773,
        "y": 1140.0000267028809,
        "wires": [
            [
                "bd75ded9f9ced507"
            ]
        ]
    },
    {
        "id": "0cb6697ccc1ccd55",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Eingang auf PC",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SICD",
        "x": 1055.7143173217773,
        "y": 1140.0000267028809,
        "wires": []
    },
    {
        "id": "68eb542a966ebbad",
        "type": "change",
        "z": "1c94b1404684df75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.volume",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525.7143173217773,
        "y": 1440.0000267028809,
        "wires": [
            [
                "3f290a90f7b3c73d"
            ]
        ]
    },
    {
        "id": "3f290a90f7b3c73d",
        "type": "switch",
        "z": "1c94b1404684df75",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 685.7143173217773,
        "y": 1440.0000267028809,
        "wires": [
            [
                "84cb35e06b5b9945"
            ],
            [
                "cb348c9d9b09875c"
            ],
            [
                "77eae840f32b9ca8"
            ],
            [
                "db843c8fc89b9b32"
            ],
            [
                "cf31f7ac899061fa"
            ],
            [
                "ba881498e599a51f"
            ],
            [
                "53128f83ead36d38"
            ],
            [
                "a1b4b88f6ac44fd7"
            ]
        ]
    },
    {
        "id": "cb348c9d9b09875c",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 10",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV10",
        "x": 865.7143173217773,
        "y": 1340.0000267028809,
        "wires": []
    },
    {
        "id": "77eae840f32b9ca8",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 865.7143173217773,
        "y": 1380.0000267028809,
        "wires": []
    },
    {
        "id": "db843c8fc89b9b32",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 30",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV30",
        "x": 865.7143173217773,
        "y": 1420.0000267028809,
        "wires": []
    },
    {
        "id": "cf31f7ac899061fa",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 40",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV40",
        "x": 865.7143173217773,
        "y": 1460.0000267028809,
        "wires": []
    },
    {
        "id": "ba881498e599a51f",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 50",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV50",
        "x": 865.7143173217773,
        "y": 1500.0000267028809,
        "wires": []
    },
    {
        "id": "53128f83ead36d38",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 60",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV60",
        "x": 865.7143173217773,
        "y": 1540.0000267028809,
        "wires": []
    },
    {
        "id": "a1b4b88f6ac44fd7",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 70",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV70",
        "x": 865.7143173217773,
        "y": 1580.0000267028809,
        "wires": []
    },
    {
        "id": "84cb35e06b5b9945",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 0",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV00",
        "x": 855.7143173217773,
        "y": 1300.0000267028809,
        "wires": []
    },
    {
        "id": "4ab348d93efc4823",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a86cb1320da57277",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Eingang auf BT",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SIBT",
        "x": 1115.7143173217773,
        "y": 1220.0000267028809,
        "wires": []
    },
    {
        "id": "8e9a6b8b7aaf40af",
        "type": "alexa-remote-echo",
        "z": "1c94b1404684df75",
        "name": "",
        "account": "9f1a5d45c77b7b5e",
        "config": {
            "option": "bluetooth",
            "value": {
                "action": {
                    "type": "str",
                    "value": "pair"
                },
                "device": {
                    "type": "str",
                    "value": "G091AA0811270237"
                },
                "gadget": {
                    "type": "str",
                    "value": "a3996390-750e-4bd3-88c3-083eb7501af7"
                }
            }
        },
        "x": 1115.7143173217773,
        "y": 1280.0000267028809,
        "wires": [
            [
                "8e46a170595441dd"
            ]
        ]
    },
    {
        "id": "ea8366e3cef0e9b9",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 1490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "0dee63c051e2742d",
        "type": "switch",
        "z": "1c94b1404684df75",
        "name": "",
        "property": "payload.directive",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TurnOff",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SelectInput",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SetVolume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 485.71431732177734,
        "y": 1140.0000267028809,
        "wires": [
            [
                "0c046148a64bfed9",
                "01777080f61f0d91"
            ],
            [
                "2e94cc1cb33378be",
                "9bf89116807347f0"
            ],
            [
                "fe912588d6b58ddf"
            ],
            [
                "68eb542a966ebbad"
            ]
        ]
    },
    {
        "id": "0c046148a64bfed9",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Ausschalten Main",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWSTANDBY",
        "x": 710,
        "y": 900,
        "wires": []
    },
    {
        "id": "01777080f61f0d91",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Auschalten Zone2",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "Z2OFF",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "9bf89116807347f0",
        "type": "delay",
        "z": "1c94b1404684df75",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "4ab348d93efc4823"
            ]
        ]
    },
    {
        "id": "8e46a170595441dd",
        "type": "delay",
        "z": "1c94b1404684df75",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 1280,
        "wires": [
            [
                "ea8366e3cef0e9b9"
            ]
        ]
    },
    {
        "id": "f135d338f967faa2",
        "type": "denon-controller",
        "name": "Denon",
        "host": "192.168.2.229",
        "port": "23"
    },
    {
        "id": "8942056a60da26d4",
        "type": "vsh-connection",
        "name": "megafoxy@gmx.de",
        "port": "8883",
        "accessTokenExpiry": "1728380600011",
        "debug": false,
        "backendUrl": "https://kfd5m4a21f.execute-api.eu-west-1.amazonaws.com/dev",
        "lwaClientId": "amzn1.application-oa2-client.3f1bb07133854b078261ad43f2484c18"
    },
    {
        "id": "9f1a5d45c77b7b5e",
        "type": "alexa-remote-account",
        "name": "Alexa Torsten",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.2",
        "proxyPort": "3456",
        "cookieFile": "/home/pi/alex-cookie-torsten.txt",
        "refreshInterval": "3",
        "alexaServiceHost": "layla.amazon.de",
        "pushDispatchHost": "",
        "amazonPage": "amazon.de",
        "acceptLanguage": "de-DE",
        "onKeywordInLanguage": "an",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    }
]
