denon_flows.json
[
    {
        "id": "d4306b1e533ecdb8",
        "type": "tab",
        "label": "Denon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5caa4b09df94dd53",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Anschalten",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWON",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b67eec3a399a13f",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Eingang auf Game",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SIGAME",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "11dba56632492088",
        "type": "vsh-virtual-device",
        "z": "d4306b1e533ecdb8",
        "name": "Denon",
        "topic": "Denon",
        "metadata": "",
        "connection": "8942056a60da26d4",
        "template": "ENTERTAINMENT_DEVICE",
        "retrievable": false,
        "passthrough": false,
        "diff": false,
        "filter": false,
        "filterTopic": false,
        "plan": "free",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "c1d0257eaf8c3754",
                "bfdb35203f9a509f"
            ]
        ]
    },
    {
        "id": "58bfbb05b75d8b48",
        "type": "switch",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GAME",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TV",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PC",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "BLUETOOTH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 950,
        "y": 460,
        "wires": [
            [
                "2b67eec3a399a13f"
            ],
            [
                "cc03a7c2ac7fe716"
            ],
            [
                "ed1bb80519ac4755"
            ],
            [
                "36087bb43578aad6",
                "8325945cb0677efc",
                "4171e7ee95391af7"
            ]
        ]
    },
    {
        "id": "cc03a7c2ac7fe716",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Eingang auf TV",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SITV",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "d41a1895caa2da1f",
        "type": "change",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.input",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "58bfbb05b75d8b48"
            ]
        ]
    },
    {
        "id": "ed1bb80519ac4755",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Eingang auf PC",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SICD",
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "aba6469e7b9297fe",
        "type": "change",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.volume",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "0546d3879cae9eb7"
            ]
        ]
    },
    {
        "id": "0546d3879cae9eb7",
        "type": "switch",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 750,
        "y": 760,
        "wires": [
            [
                "654e98459690c615"
            ],
            [
                "55a17276f92aec7c"
            ],
            [
                "07f19de955659a32"
            ],
            [
                "58d96f35a7549fa4"
            ],
            [
                "2d3060236d546e8e"
            ],
            [
                "8b6d969e26dcb248"
            ],
            [
                "e4df0d8a1eaeb1ab"
            ],
            [
                "0d9b4b72a1828253"
            ]
        ]
    },
    {
        "id": "55a17276f92aec7c",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 10",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV10",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "07f19de955659a32",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 930,
        "y": 700,
        "wires": []
    },
    {
        "id": "58d96f35a7549fa4",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 30",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV30",
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "2d3060236d546e8e",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 40",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV40",
        "x": 930,
        "y": 780,
        "wires": []
    },
    {
        "id": "8b6d969e26dcb248",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 50",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV50",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "e4df0d8a1eaeb1ab",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 60",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV60",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "0d9b4b72a1828253",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 70",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV70",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "654e98459690c615",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 0",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV00",
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "517a7a5a908bd3b7",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "36087bb43578aad6",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Eingang auf BT",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SIBT",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "4171e7ee95391af7",
        "type": "alexa-remote-echo",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "account": "9f1a5d45c77b7b5e",
        "config": {
            "option": "bluetooth",
            "value": {
                "action": {
                    "type": "str",
                    "value": "pair"
                },
                "device": {
                    "type": "str",
                    "value": "G091AA0811270237"
                },
                "gadget": {
                    "type": "str",
                    "value": "a3996390-750e-4bd3-88c3-083eb7501af7"
                }
            }
        },
        "x": 1180,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "777897878260d601",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "8325945cb0677efc",
        "type": "trigger",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "777897878260d601"
            ]
        ]
    },
    {
        "id": "b891cc42c5c09bf8",
        "type": "trigger",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "517a7a5a908bd3b7"
            ]
        ]
    },
    {
        "id": "c1d0257eaf8c3754",
        "type": "switch",
        "z": "d4306b1e533ecdb8",
        "name": "",
        "property": "payload.directive",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TurnOff",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SelectInput",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SetVolume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "2fd1f953afd80221",
                "38602c45e30d0c60"
            ],
            [
                "5caa4b09df94dd53",
                "b891cc42c5c09bf8"
            ],
            [
                "d41a1895caa2da1f"
            ],
            [
                "aba6469e7b9297fe"
            ]
        ]
    },
    {
        "id": "bfdb35203f9a509f",
        "type": "debug",
        "z": "d4306b1e533ecdb8",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "2fd1f953afd80221",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Ausschalten Main",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWSTANDBY",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "38602c45e30d0c60",
        "type": "denon-out",
        "z": "d4306b1e533ecdb8",
        "name": "Auschalten Zone2",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "Z2OFF",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "f135d338f967faa2",
        "type": "denon-controller",
        "name": "Denon",
        "host": "192.168.2.229",
        "port": "23"
    },
    {
        "id": "8942056a60da26d4",
        "type": "vsh-connection",
        "name": "",
        "port": "8883",
        "accessTokenExpiry": "",
        "debug": false,
        "backendUrl": "",
        "lwaClientId": ""
    },
    {
        "id": "9f1a5d45c77b7b5e",
        "type": "alexa-remote-account",
        "name": "Alexa Torsten",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.2",
        "proxyPort": "3456",
        "cookieFile": "/home/pi/alex-cookie-torsten.txt",
        "refreshInterval": "3",
        "alexaServiceHost": "layla.amazon.de",
        "pushDispatchHost": "",
        "amazonPage": "amazon.de",
        "acceptLanguage": "de-DE",
        "onKeywordInLanguage": "an",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    }
]
